<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @api_v1_league.name %>
</p>

<%= link_to 'Edit', edit_api_v1_league_path(@api_v1_league) %> |
<%= link_to 'Back', api_v1_leagues_path %>
