<%= form_with(model: fantasy_draft, local: true) do |form| %>
  <% if fantasy_draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fantasy_draft.errors.count, "error") %> prohibited this fantasy_draft from being saved:</h2>

      <ul>
        <% fantasy_draft.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
